.massas__container {
    display: flex;
}

.massas__title {
    font-family: "Emilys Candy", serif;
    font-size: clamp(0.9em, 4.5vw, 1em);
    padding: 0 50px 0 40px;
    display: flex;
    align-items: center;
    color: var(--titulos);
    background-color: var(--titulosFundo);
}

.massas__title h2 {
    margin: 0;
    font-weight: 400;
}

.massas__triangle {
    border-top: 1.42em solid transparent;
    border-bottom: 1.42em solid transparent;
    border-left: 1.42em solid var(--titulosFundo);
    flex-shrink: 0;
}

.flavours__container {
    background-color: var(--cor_principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: clamp(1.1em, 5.5vw, 1.2em);
    margin: 50px 12% 30px;
    border-radius: 12px;
    padding: 50px 0 100px;
    position: relative;
    box-shadow: 0 4px 2px #00000034;
}

.masses__image1, .masses__image2, .masses__fixed-image {
    position: absolute;
}

.masses__image1 img, .masses__image2 img, .masses__fixed-image img {
    width: 100%;
}

.masses__image1 {
    right: -15px;
    top: -15px;
    width: 3em;
}

.masses__image2 {
    left: -15px;
    bottom: -10px;
    width: 3em;
    z-index: 1;
}

.masses__fixed-image {
    width: 110px;
    bottom: 0;
    left: 0;
}

.flavours {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.massas-flavours__items {
    color: var(--texto_marrom);
    display: flex;
    align-items: center;
    gap: 2px;
}

.flavours__heart {
    font-size: 0.5em;
 }