.partyCand-head__container {
    color: var(--texto_marrom);
    display: flex;
    text-align: center;
}

.partyCand__header {
    background-color: var(--cor_principal);
    width: 70%;
    display: flex;
    flex-direction: column;
}

.partyCand-head__container h2 {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    margin: 5px 0 0 0; 
    font-size: 1.5em;   
}

.partyCand-head__container span {
    font-size: 0.7em;
    font-weight: 600;
}

.partyCand__triangle {
    border-top: 1.7em solid transparent;
    border-bottom: 1.7em solid transparent;
    border-left: 1.7em solid var(--cor_principal);
    flex-shrink: 0;
}

.partyCand-h3__cont {
    color: var(--texto_marrom);
    text-align: center;
}

.partyCand-h3__cont h3 {
    font-family: "Rouge Script", cursive;
    font-size: clamp(2.1em, 10vw, 2.2em);
    margin: -2px;
}

.partyCand__minText {
    font-weight: 600;
    font-size: 0.8em;
}

#main-figure {
    width: clamp(12em, 59vw, 13em);
    margin: 30px auto 50px;
    border: 2px solid var(--cor_principal);
    background-color: var(--cor_principal);
    padding: 4px 4px 11px;
    transform: rotate(4deg);
    box-shadow: 0 7px 10px #00000056;
}

#main-figure img {
    width: 100%;
}

.partyCand__fig1 {
    filter: drop-shadow(-0.6px 3px 1px #0000003d);
    right: -20px;
    top: -50px;
}

.partyCand__fig2 {
    bottom: -45px;
    left: -7px;
    filter: drop-shadow(2px 0 1px #0000003a);
}

.partyCand__fig1, .partyCand__fig2 {
    position: absolute;
    width: clamp(3.5em, 17vw, 3.8em);
}

.partyCand__fig1 img, .partyCand__fig2 img {
    width: 100%;
}

#partyCand__cont {
    margin-top: 30px;
    position: relative;
}

.main-fig-and-fig1__cont {
    background-color: #0000003a;
}

.partyCand__table {
    background-color: var(--tabelas);
    border-radius: 10px;
    border-collapse: collapse;
    margin: 0 5% 40px;
    width: 90%;
    color: #fff;
    position: relative;
}

.partyCand__td {
    border-bottom: 1px dotted #fff;
    border-right: 1px dotted #fff;
    padding: 15px 30px;
    color: var(--textos_tabela);
    font-size: 1em;
}

.partyCand__table tr:last-child td {
    border-bottom: none;
}