.partyCand-head__container {
    color: var(--texto_marrom);
    display: flex;
    text-align: center;
    height: 3.4em;
}

.partyCand__header {
    background-color: var(--cor_principal);
    width: 70%;
    display: flex;
    flex-direction: column;
}

.partyCand-head__container h2 {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    margin: 5px 0 0 0; 
    font-size: 1.5em;   
}

.partyCand-head__container span {
    font-size: 0.7em;
    font-weight: 600;
}

.partyCand__triangle {
    border-top: 1.7em solid transparent;
    border-bottom: 1.7em solid transparent;
    border-left: 1.7em solid var(--cor_principal);
    flex-shrink: 0;
}

.partyCand-h3__cont {
    color: var(--texto_marrom);
    font-family: "Rouge Script", cursive;
    text-align: center;
    font-size: 1.8em;
    font-size: clamp(1.9em, 9vw, 2em);
}

.partyCand-h3__cont h3 {
    font-weight: 600;
}

#partyCand__cont {
    position: relative;
}

.partyCand__table {
    background-color: var(--tabelas);
    border-radius: 10px;
    border-collapse: collapse;
    margin: 0 5% 30px;
    width: 90%;
    color: #fff;
}

.partyCand__td {
    border-bottom: 1px dotted #fff;
    border-right: 1px dotted #fff;
    padding: 15px 30px;
    color: var(--textos_tabela);
    font-size: 1.1em;
}

.partyCand__table tr:last-child td {
    border-bottom: none;
}

.partyCand__fig1 {
    position: absolute;
    width: 4em;
    filter: drop-shadow(-0.6px 3px 1px #0000003d);
    right: 10px;
    top: 25px;
}

.partyCand__fig1 img {
    width: 100%;
}

.partyCand__fig2 {
    position: absolute;
    width: 4em;
    bottom: -50px;
    left: -10px;
}

.partyCand__fig2 img {
    width: 100%;
    filter: drop-shadow(2px 0 1px #0000003a);
}