.partyCand-head__container {
    color: var(--titulos);
    display: flex;
    text-align: center;
}

.partyCand__header {
    background-color: var(--titulosFundo);
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: center;
}

.partyCand-head__container h2 {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    margin: 0; 
    font-size: clamp(1.5em, 7.5vw, 1.7em);
}

.partyCand-head__container span {
    font-size: clamp(0.7em, 3.5vw, 0.8em);
    font-weight: 600;
}

.partyCand__triangle {
    border-top: 1.8em solid transparent;
    border-bottom: 1.8em solid transparent;
    border-left: 1.8em solid var(--titulosFundo);
    flex-shrink: 0;
}

#partyCand__cont {
    margin-top: 30px;
    position: relative;
}

.partyCand-h3__cont {
    color: var(--texto_marrom);
    text-align: center;
    margin-bottom: 10px;
}

.partyCand-h3__cont h3 {
    font-family: "Rouge Script", cursive;
    font-size: clamp(2.1em, 10vw, 2.2em);
    margin: -2px;
}

.partyCand__minText {
    font-weight: 600;
    font-size: clamp(0.75em, 3.5vw, 0.8em);
}

#main-figure {
    width: clamp(12em, 59vw, 13em);
    margin: 30px auto 50px;
    border: 2px solid var(--cor_principal);
    background-color: var(--cor_principal);
    padding: 4px 4px 11px;
    transform: rotate(4deg);
    box-shadow: 0 7px 10px #00000056;
}

#main-figure img {
    width: 100%;
}

.partyCand__fig1 {
    filter: drop-shadow(-0.6px 3px 1px #0000003d);
    right: -20px;
    top: -50px;
    width: clamp(3.5em, 17vw, 3.8em);
}

.partyCand__fig2 {
    bottom: -40px;
    left: -16px;
    filter: drop-shadow(2px 0 1px #0000003a);
    width: clamp(3.5em, 12vw, 4.3em);
}

.partyCand__fig2-chocolate {
    left: -5px;
    bottom: -30px;
    transform: rotate(110deg);
    width: clamp(3.7em, 12vw, 4.3em);
}


.partyCand__fig1, .partyCand__fig2, .partyCand__fig2-chocolate {
    position: absolute;
}

.partyCand__fig1 img, .partyCand__fig2 img, .partyCand__fig2-chocolate img {
    width: 100%;
}

.partyCand__table {
    background-color: var(--tabelas);
    border-radius: 10px;
    border-collapse: collapse;
    margin: 0 5% 40px;
    width: 90%;
    position: relative;
    box-shadow: 0 3px 2px #00000034;
}

.partyCand__caption {
    color: var(--textos_tabela);
    border-bottom: 1px dotted #fff;
    text-align: center;
    padding: 10px;
    font-size: clamp(0.9em, 4.9vw, 1.1em);
}

.partyCand__td {
    border-bottom: 1px dotted #fff;
    border-right: 1px dotted #fff;
    padding: 15px 20px;
    color: var(--textos_tabela);
    font-size: clamp(0.9em, 4.9vw, 1.1em);
}

.partyCand__table tr:last-child td {
    border-bottom: none;
}

.partyCand__td:last-child {
    border-right: none;
}

.partyCand__ul {
    list-style: none;
    padding: 0;
    margin: 5px 20px 5px 30px;
}

.partyCand_listItem {
    margin-bottom: 7px;
    position: relative;
    padding: 0;
}

.partyCand_listItem::before {
    content: '\2764';
    position: absolute;
    left: -17px;
    top: 5px;
    font-size: 0.6em;
}

.partyCandprices {
    text-align: center;
}

/*
.partyCand__firstPrice {
}
*/

.partyCand__secondPrice {
    margin-top: 10px;
} 