@import url('https://fonts.googleapis.com/css2?family=Allura&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dancing+Script:wght@400..700&family=Emilys+Candy&family=Great+Vibes&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Imperial+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rouge+Script&family=Updock&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor_principal: #FFD7DF;
    --texto_marrom: #B2878C;
    --tabelas: #AA6B77;
    --textos_tabela: #ffffffd7;
    --titulos: #fff;
    --titulosFundo: #FDAEC1;
    --precos_fundo: #ffb7c4cc;
}

body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100dvh;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    color-scheme: only light;
}

section {
    display: flex;
    flex-direction: column;
    background-image: url('/background.png');
    background-position: center;
    background-size: contain;
}

.masses-section {
    background-image: url('/masses-background.png');
    background-position: center;
    background-size: cover;
}

a {
    color: #fff;
}