@media (min-width: 395px) {

    /* 
    
    BOLOSDECOR.JSX 
    
    */
    .cake__image {
        width: 14em;
        height: 17em;
        padding: 4px 4px 15px;
    }
}

@media (min-width: 768px) {

    /* 
    
    BOLOSDECOR.JSX 
    
    */
    .card__header h2 {
        font-size: 2em;
    }

    .triangle {
        border-top: 1.8em solid transparent;
        border-bottom: 1.8em solid transparent;
        border-left: 1.8em solid var(--titulosFundo);
    }

    .cake__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cake__image {
        width: 17em;
        height: 20em;
        padding: 4px 4px 15px;
        margin: 30px auto 0 5%;
    }

    .cake-informations p {
        font-size: 1.1em;
    }

    .bolos__table {
        margin: 20px 20px 30px 0;
        width: 20em;
    }


    /* 
    
    MASSES.JSX 
    
    */
    .massas__title {
        font-size: 1.5em;
    }

    .massas__triangle {
        border-top: 1.6em solid transparent;
        border-bottom: 1.6em solid transparent;
        border-left: 1.6em solid var(--titulosFundo);
    }

    .flavours__container {
        margin: 50px 20% 30px;
    }


    /* 
    
    RECHEIOS.JSX 
    
    */
    .recheios__title {
        font-size: 1.4em;
    }

    .recheios__container {
        margin: 50px 25% 50px;
    }


    /* 
    
    CANDIES.JSX 
    
    */
    .candies__header h2 {
        font-size: 2em;
    }
    
    .candies__header span {
        font-size: 0.8em;
        margin-bottom: 3px;
    }

    .candies__triangle {
        border-top: 1.9em solid transparent;
        border-bottom: 1.9em solid transparent;
        border-left: 1.9em solid var(--titulosFundo);
    }

    #doces__h3 {
        font-size: 2.3em;
        margin-left: 400px;
    }

    .candyList__container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 10em;
        margin: 20px 5% 50px;
    }

    .tradImg1Respo {
        width: 19em !important;
        max-width: 230px;
        margin: 0 0 20px !important;
    }

    .espImg1Respo {
        width: 25em !important;
        max-width: 260px;
    }

    .persoImg1Respo {
        width: 16em !important;
        margin: 0 !important;
    }
    
    .candies__image2 {
        display: none;
    }

    .candyList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: fit-content;
        margin: 0;
        margin-bottom: 15px;
    }

    .candies__price {
        text-align: center;
    }
    
    .docinhos-mixer__cont {
        width: clamp(4.5em, 10vw, 6em);
    }

    .docinhos__table {
        margin: 0 auto 30px;
        height: 250px;
        font-size: clamp(1em, 2.3vw, 1.2em);
    }

}