@media (min-width: 395px) {

    /* 
    
    BOLOSDECOR.JSX 
    
    */
    .cake__image {
        width: 14em;
        height: 17em;
        padding: 4px 4px 15px;
    }
}

@media (min-width: 768px) {
    
    /*

    Header.jsx

    */
    .logo {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 9em;
        margin: 30px 0 40px;
    }


    /*

    Division.jsx

    */
    .division {
        border: 5px solid #000;
        margin: 0;
    }


    /*

    App.jsx

    */
    .menu__title {
        font-size: clamp(1.9em, 5vw, 2.8em);
    }
    
    .title__span {
        bottom: 10px;
    }
    
    .links_paragraph-container {
        font-size: 1.1em;
    }

    .link_whatsapp, .link_instagram {
        font-size: 1.6em;
    }


    /* 
    
    BolosDecor.jsx
    
    */
    .card__header h2 {
        font-size: 2em;
    }

    .triangle {
        border-top: 1.8em solid transparent;
        border-bottom: 1.8em solid transparent;
        border-left: 1.8em solid var(--titulosFundo);
    }

    .cake__container {
        margin: 30px 0;
        display: flex;
        align-items: center;
    }

    .cake__image {
        width: 22em;
        max-width: 22em;
        height: 20em;
        margin: 30px 35px 0 35px;
    }

    .p-table-img__cont {
        width: 80%;
    }

    .cake-informations p {
        font-size: 1.2em;
    }

    .bolos__table {
        width: 90%;
    }

    .bolos__td {
        padding: 13px 20px;
    }
    
    .bolosDecor__img {
        top: 2.8em;
    }


    /* 
    
    Masses.jsx 
    
    */
    .massas__title {
        font-size: 1.5em;
    }

    .massas__triangle {
        border-top: 1.6em solid transparent;
        border-bottom: 1.6em solid transparent;
        border-left: 1.6em solid var(--titulosFundo);
    }

    .flavours__container {
        margin: 50px auto 30px;
        width: 19em;
    }


    /* 
    
    Recheios.jsx 
    
    */
    .recheios__title {
        font-size: 1.3em;
    }

    .recheios__container {
        margin: 50px auto 50px;
        width: 25em;
    }


    /* 
    
    Candies.jsx
    
    */
    .candies__header h2 {
        font-size: 2em;
    }

    .candies__header span {
        font-size: 0.8em;
        margin-bottom: 3px;
    }

    .candies__triangle {
        border-top: 1.9em solid transparent;
        border-bottom: 1.9em solid transparent;
        border-left: 1.9em solid var(--titulosFundo);
    }

    #doces__h3 {
        font-size: 2.3em;
        margin-left: 400px;
    }

    .candyList__container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 10em;
        margin: 20px 5% 50px;
    }

    .tradImg1Respo {
        width: 19em !important;
        max-width: 230px;
        margin: 0 0 20px !important;
    }

    .espImg1Respo {
        width: 25em !important;
        max-width: 260px;
    }

    .persoImg1Respo {
        width: 16em !important;
        margin: 0 !important;
    }

    .candies__image2 {
        display: none;
    }

    .candyList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: fit-content;
        margin: 0;
        margin-bottom: 15px;
    }

    .candies__price {
        text-align: center;
    }

    .docinhos-mixer__cont {
        width: clamp(4.5em, 10vw, 6em);
    }

    .docinhos__table {
        margin: 0 auto 30px;
        height: 250px;
        font-size: clamp(1em, 2.3vw, 1.2em);
    }


    /*

    PartyCandies.jsx

    */
    .partyCand-head__container h2 {
        font-size: 1.9em;
    }

    .partyCand-head__container span {
        font-size: 0.85em;
    }

    .partyCand__triangle {
        border-top: 2em solid transparent;
        border-bottom: 2em solid transparent;
        border-left: 2em solid var(--titulosFundo);
    }

    #partyCand__cont {
        margin-top: 100px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .partyCand-h3__cont {
        position: absolute;
        top: -50px;
        left: 300px;
    }

    .partyCand-h3__cont h3 {
        font-size: 2.7em;
        margin: -4px 0;
    }

    #main-figure {
        width: 16em;
        padding: 6px 6px 20px;
    }

    .partyCand__fig2 {
        bottom: 80px;
        left: -20px;
        width: 3.8em;
    }

    .partyCand__fig2-chocolate {
        left: -10px !important;
        bottom: 80px !important;
        width: 4em;
    }

    .partyCand__table {
        border-radius: 45px;
        margin: 0 2% 40px;
        width: 50%;
    }


    /*

    PartyKit.jsx

    */
    .partyKit__header h2 {
        font-size: 2em;
    }

    .partyKit__triangle {
        border-top: 1.6em solid transparent;
        border-left: 1.6em solid var(--titulosFundo);
        border-bottom: 1.6em solid transparent;
    }

    .TopInformations__cont {
        max-width: 370px;
    }

    .TI,
    .TI2 {
        font-size: clamp(0.95em, 1.8vw, 1em);
    }

    .partyKit__h3 {
        font-size: 2.5em;
    }

    .partyKit__compononents {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .partyKit__compononents > :last-child {
        grid-column: 1/-1;
        justify-self: center;
        width: 50%;
    }

    .partyKit__list-price-image__cont {
        width: 70%;
    }


    .partyKit__list li {
        font-size: 1.25em;
    }

    .partyKit__price {
        font-size: 1.1em;
    }


    /*

    Additional.jsx

    */
    .additional__h2 {
        font-size: 1.2em;
    }

    .additional__triangle {
        border-top: 2.5em transparent solid;
        border-left: 2.5em var(--titulosFundo) solid;
        border-bottom: 2.5em transparent solid;
    }

    .additional__block {
        margin: 20px auto 40px;
        width: 30em;
    }

    .addit-block-fig1 {
        bottom: -15px;
        left: -30px;
    }

    .addit__ul {
        font-size: 1.2em;
    }

    .addit__ul li {
        width: 100%;
    }


    /*

    footer

    */
    footer h1 {
        font-size: clamp(1.9em, 4vw, 2.1em);
    }
}

@media (min-width: 1024px) {
    
    /*

    Header.jsx

    */
    .logo {
        width: 8.3em;
    }


    /*

    App.jsx

    */
    .menu__title {
        font-size: 2.1em;
    }
    
    .mixer_image {
        width: 28em;
    }


    /* 
    
    BolosDecor.jsx
    
    */
    .cake__image {
        max-width: none;
        height: 24em;
    }

    .bolos__td {
        padding: 18px 20px;
    }

    .bolosDecor__img {
        top: 2.8em;
        right: 3.5em;
    }


    /*

    PartyCandies.jsx

    */
    .partyCand-head__container h2 {
        padding-left: 20px;
    }

    .partyCand-head__container span {
        font-size: 0.85em;
    }

    #main-figure {
        width: 20em;
    }

    .partyCand__fig2 {
        bottom: 60px;
        left: 33px;
        width: 3.8em;
    }

    .partyCand__fig2-chocolate {
        left: 45px !important;
        bottom: 100px !important;
        width: 4em;
    }

    .partyCand__table {
        margin: 0 5% 40px;
    }

    .partyCand__td {
        padding: 25px 20px;
        font-size: 1.2em;
    }
}