@media (min-width: 395px) {

    /* 
    
    BOLOSDECOR.JSX 
    
    */
    .cake__image {
        width: 14em;
        height: 17em;
        padding: 4px 4px 15px;
    }
}

@media (min-width: 768px) {

    /*

    Division.jsx

    */
    .division {
        border: 5px solid #000;
        margin: 0;
    }


    /*

    App.jsx

    */
    .menu__title {
        background-color: var(--titulosFundo);
        color: var(--titulos);
        font-size: 1.9em;
    }
    
    .link_whatsapp, .link_instagram {
        background-color: #ffc1cd;
        border-radius: 30px;
        font-size: 1.6em;
        padding: 12px 2.6em;
        transition: 0.1s ease-out;
    }


    /* 
    
    BolosDecor.jsx
    
    */
    .card__header h2 {
        font-size: 2em;
    }

    .triangle {
        border-top: 1.8em solid transparent;
        border-bottom: 1.8em solid transparent;
        border-left: 1.8em solid var(--titulosFundo);
    }

    .cake__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cake__image {
        width: 17em;
        height: 20em;
        padding: 4px 4px 15px;
        margin: 30px auto 0 5%;
    }

    .cake-informations p {
        font-size: 1.1em;
    }

    .bolos__table {
        margin: 20px 20px 30px 0;
        width: 20em;
    }


    /* 
    
    Masses.jsx 
    
    */
    .massas__title {
        font-size: 1.5em;
    }

    .massas__triangle {
        border-top: 1.6em solid transparent;
        border-bottom: 1.6em solid transparent;
        border-left: 1.6em solid var(--titulosFundo);
    }

    .flavours__container {
        margin: 50px auto 30px;
        width: 19em;
    }


    /* 
    
    Recheios.jsx 
    
    */
    .recheios__title {
        font-size: 1.3em;
    }

    .recheios__container {
        margin: 50px auto 50px;
        width: 25em;
    }


    /* 
    
    Candies.jsx
    
    */
    .candies__header h2 {
        font-size: 2em;
    }

    .candies__header span {
        font-size: 0.8em;
        margin-bottom: 3px;
    }

    .candies__triangle {
        border-top: 1.9em solid transparent;
        border-bottom: 1.9em solid transparent;
        border-left: 1.9em solid var(--titulosFundo);
    }

    #doces__h3 {
        font-size: 2.3em;
        margin-left: 400px;
    }

    .candyList__container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 10em;
        margin: 20px 5% 50px;
    }

    .tradImg1Respo {
        width: 19em !important;
        max-width: 230px;
        margin: 0 0 20px !important;
    }

    .espImg1Respo {
        width: 25em !important;
        max-width: 260px;
    }

    .persoImg1Respo {
        width: 16em !important;
        margin: 0 !important;
    }

    .candies__image2 {
        display: none;
    }

    .candyList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: fit-content;
        margin: 0;
        margin-bottom: 15px;
    }

    .candies__price {
        text-align: center;
    }

    .docinhos-mixer__cont {
        width: clamp(4.5em, 10vw, 6em);
    }

    .docinhos__table {
        margin: 0 auto 30px;
        height: 250px;
        font-size: clamp(1em, 2.3vw, 1.2em);
    }


    /*

    PartyCandies.jsx

    */
    .partyCand-head__container h2 {
        font-size: 1.9em;
    }

    .partyCand-head__container span {
        font-size: 0.85em;
    }

    .partyCand__triangle {
        border-top: 2em solid transparent;
        border-bottom: 2em solid transparent;
        border-left: 2em solid var(--titulosFundo);
    }

    #partyCand__cont {
        margin-top: 100px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .partyCand-h3__cont {
        position: absolute;
        top: -50px;
        left: 300px;
    }

    .partyCand-h3__cont h3 {
        font-size: 2.7em;
        margin: -4px 0;
    }

    #main-figure {
        width: 16em;
        padding: 6px 6px 20px;
    }

    .partyCand__fig2 {
        bottom: 60px;
        left: -20px;
        width: 3.8em;
    }

    .partyCand__fig2-chocolate {
        left: -10px !important;
        bottom: 80px !important;
        width: 4em;
    }

    .partyCand__table {
        border-radius: 45px;
        margin: 0 2% 40px;
        width: 50%;
    }


    /*

    PartyKit.jsx

    */
    .partyKit__header h2 {
        font-size: 2em;
    }

    .partyKit__triangle {
        border-top: 1.6em solid transparent;
        border-left: 1.6em solid var(--titulosFundo);
        border-bottom: 1.6em solid transparent;
    }

    .TopInformations__cont {
        max-width: 370px;
    }

    .TI,
    .TI2 {
        font-size: clamp(0.95em, 1.8vw, 1em);
    }

    .partyKit__h3 {
        font-size: 2.5em;
    }

    .partyKit__compononents {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .partyKit__list-price-image__cont {
        width: 70%;
    }


    .partyKit__list li {
        font-size: 1.25em;
    }

    .partyKit__price {
        font-size: 1.1em;
    }


    /*

    Additional.jsx

    */
    .additional__header {
        display: flex;
        color: var(--titulos);
    }

    .additional__h2 {
        background-color: var(--titulosFundo);
        display: flex;
        align-items: center;
        padding: 5px 15px 5px 20px;
        font-size: 1.2em;
        font-family: "Emilys Candy", serif;
        width: min-content;
    }

    .additional__h2 h2 {
        margin: 0;
        font-weight: 400;
    }

    .additional__triangle {
        border-top: 2.5em transparent solid;
        border-left: 2.5em var(--titulosFundo) solid;
        border-bottom: 2.5em transparent solid;
    }

    .additional__block {
        background-color: var(--cor_principal);
        position: relative;
        margin: 20px auto 40px;
        width: 30em;
        color: var(--texto_marrom);
        font-weight: 700;
        border-radius: 5px;
        box-shadow: 0 4px 2px #00000034;
    }

    .addit-block-fig1,
    .addit-block-fig2 {
        position: absolute;
        width: clamp(2.8em, 14.2vw, 3.2em);
    }

    .addit-block-fig1 {
        bottom: -15px;
        left: -30px;
        filter: drop-shadow(1px -2px 2px #00000021);
    }

    .addit-block-fig2 {
        top: -22px;
        right: -13px;
        filter: drop-shadow(-1px 5px 2px #00000021);
    }

    .addit-block-fig1 img,
    .addit-block-fig2 img {
        width: 100%;
    }

    .addit__ul {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 1.2em;
    }

    .addit__ul li {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100%;
    }

    .addit__heart {
        font-size: 0.5em;
    }

}